In [1]:
import numpy as np
import pandas as pd
import time
from datetime import datetime

In [2]:
f=open("data/SBIN.txt", "r")

data=pd.DataFrame(columns=['Date','Open','High','Low','Close'])

for line in f:
    row=line.split(" ")
    row[0]=row[0]+" "+row[1]
    row.pop(1)
    data.loc[len(data)]=row[:-1]
    
data['Date']=pd.to_datetime(data['Date'], format='%Y-%m-%d %H:%M:%S')
data['Open']=data['Open'].astype(float)
data['Close']=data['Close'].astype(float)
data['High']=data['High'].astype(float)
data['Low']=data['Low'].astype(float)
data = data.set_index('Date')
data.head()

                       Open    High     Low   Close
Date
2017-05-08 09:15:00  296.15  296.65  295.10  295.95
2017-05-08 09:16:00  295.95  296.55  295.90  296.00
2017-05-08 09:17:00  296.00  296.15  294.80  295.10
2017-05-08 09:18:00  295.20  295.45  294.95  295.00
2017-05-08 09:19:00  295.00  295.50  294.90  295.35

In [3]:
ohlc_dict = {                                                                                                             
'Open':'first',                                                                                                    
'High':'max',                                                                                                       
'Low':'min',                                                                                                        
'Close': 'last',
}

data = data.resample('15min').agg(ohlc_dict, closed='left', label='left').dropna()

In [4]:
len(data)

796

In [5]:
data.to_csv('data/sbin_15min.csv')